@tailwind base;
@tailwind utilities;
@tailwind components;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply min-h-screen bg-gradient-to-r from-pink to-purple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-disabled{
  @apply p-3 text-lg text-center font-medium rounded-full transition-colors cursor-not-allowed
}
.btn{
  @apply p-3 text-lg text-center font-medium rounded-full transition-colors cursor-pointer
}
.btn-gradient{
  @apply bg-gradient-to-r from-pink to-purple text-white
}
.btn-success{
  @apply bg-green-500 text-white
}
.btn-info{
  @apply bg-blue-500 text-white
}
.btn-white{
  @apply bg-white shadow-md border border-grey-superlight
}
.btn-white span,
.text-gradient{
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-pink to-purple text-white bg-clip-text
}
.text-gradient{
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-pink to-purple text-white bg-clip-text
}


/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  
   /* Add cool effects to your sliders! */
   @apply w-5 h-5 rounded-full bg-pink cursor-pointer relative bottom-[7px]
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  
  @apply w-5 h-5 rounded-full bg-pink cursor-pointer

}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  
  @apply w-5 h-5 rounded-full bg-pink cursor-pointer;

}

/* range track */
input[type=range]::-webkit-slider-runnable-track {
  @apply w-full h-2 cursor-pointer bg-gradient-to-r from-pink to-purple rounded-full;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  @apply bg-gradient-to-r from-pink to-purple;
}

input[type=range]::-moz-range-track {
  @apply w-full h-2 cursor-pointer bg-gradient-to-r from-pink to-purple rounded-full;
}

input[type=range]::-ms-track {
  @apply w-full h-2 cursor-pointer rounded-full;
  background: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  @apply bg-gradient-to-r from-pink to-purple rounded-full;
}
input[type=range]:focus::-ms-fill-lower {
  @apply bg-gradient-to-r from-pink to-purple rounded-full;
}
input[type=range]::-ms-fill-upper {
  @apply bg-gradient-to-r from-pink to-purple rounded-full;
}
input[type=range]:focus::-ms-fill-upper {
  @apply bg-gradient-to-r from-pink to-purple rounded-full;
}



/* PROGRESS BAR */
#progressbar {
  -webkit-appearance: none;
   appearance: none;
  @apply w-full h-4;
}

#progressbar[value]::-webkit-progress-bar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  @apply bg-white bg-opacity-50 rounded-lg;
}

#progressbar[value]::-webkit-progress-value {
  @apply bg-gradient-to-r from-pink to-purple rounded-sm rounded-l-lg 
}


.pulsate{
  animation: pulsate 1.5s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}



/* ---------- Loader ---------- */
.circularLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circularLoader {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #eee;
  border-top-color: #793CEA;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

